@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v11-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v11-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v11-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/inter-v11-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v11-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v11-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v11-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v11-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v11-latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter-v11-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v11-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v11-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v11-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v11-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v11-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* Style for pdf viewer */
.document-container .react-pdf__Document {
}

.document-container .react-pdf__page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}

.document-container .react-pdf__Page__canvas {
  max-width: 100%;
  height: 100% !important;
  overflow: hidden;
}

.document-container .react-pdf__message--no-data {
  display: none;
}
